<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd  https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="Student001" class="Spring.bean.Student">
        <property name="id" value="001"/>
        <property name="name" value="人造人"/>
    </bean>

    <bean id="Student100" class="Spring.bean.Student">
        <property name="id" value="100"/>
        <property name="name" value="超级人造人"/>
    </bean>

    <bean name="aqySchool" class="Spring.bean.School">
        <property name="student" ref="Student001"/>
    </bean>

</beans>